<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/chunw/IdeaProjects/TestNG-Git-Github-Chu">
        <classes>
            <class name="org.qafellas.tests.ExampleTests">
                <methods>
                    <include name="setUp"/>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="tearDown"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>